.container {
  max-width: 1750px;
  margin: 10px auto;
  background-color: #444;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.spinner {
  display: flex;
  justify-content: center;
  margin-top: 20%;
}

.image_container {
  width: 325px; /* Set a fixed width for the container */
  height: 500px; /* Set a fixed height for the container */
  margin: 10px; /* Add spacing between containers */
  border: 20px solid white; /* Add white border around the container */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: inline-block; /* Keep containers in the same line */
  overflow: hidden; /* Hide any overflowing content */
}

.image {
  width: 100%; /* Make the image fill the container width */
  height: 100%; /* Make the image fill the container height */
  object-fit: cover; /* Maintain aspect ratio and cover the container */

}

h1 {
  font-size: 35px;
}

p {
  font-size: 16px;
}

.circular {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
}

.profile_image {
  width: auto; 
  height: 100%; 
  margin-left: -50px;
}

.clickable {
  display: flex;
  justify-content: center;
  font-size: 25px;
  text-align: center;
}

.user_info {
  margin: 10px;
}

.user_stuff {
  display: flex;
  gap: 15px;
  background-image: url(https://images.unsplash.com/photo-1538370965046-79c0d6907d47?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center center;
  border-radius: 10px;
  margin-left: 0;
  color: #fff;
  padding: 110px;
}

.h1 {
  align-self: center;
}

.active, .inactive {
  cursor: pointer;
  margin-right: 50px; 
}

.active {
  text-decoration: underline;
}

.arts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}