* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #444;
  border-radius: 10px;
  padding: 30px;
  z-index: 1000;
  width: 700px;
  max-height: 100vh;
  text-align: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.top {
  display: flex;
  justify-content: flex-end;
}

.form {
  margin-top: 20px;
}

.header {
  align-items: center;
  background-image: url(https://www.wallpaperflare.com/static/87/982/499/mountains-snow-sunrise-5k-wallpaper.jpg);
  background-position: 50%;
  background-size: cover;
  color :#fff;
  display: flex;
  height: 250px;
  justify-content: center;
  margin: auto;
}

.close {
  cursor: pointer;
  border: none;
  font-weight: bolder;
  font-size: 1.5em;
  background-color: #444;
  color: white;
  width: 25px;
  height: 25px;
  margin: 0 0 10px 0;
}

.label {
  text-align: left;
  color: white;
}

.submit {
  padding: 10px 0;
  background-color: rgb(8, 138, 251);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1em;
  font-weight: bolder;
}