* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.item {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  width: 70vw;
  border-radius: 10px;
  cursor: default;
  /* display : grid;
  grid-template-columns: 6fr 4fr; */
}

.p {
  cursor: default;
}

.content {
  height: fit-content;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
  border-style: solid;
  border-width: 3px;
  border-color: #444;
  background-color: lightblue;
  align-self: center;
}

.upload_stats {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.img {
  cursor: pointer;
  max-width: 100%;
  min-width: 100%;
  height: 500px;
  border-radius: 10px;
  object-fit: cover;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.left {
  display: flex;
  gap: 15px;
}