* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.comment {
  display: flex;
  gap: 20px;
}

.content {
  text-align: left;
  background-color: #f0f0f0;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}

.p {
  cursor: default;
}

h3, p {
  font-size: 1em;
}

h3 {
  margin: 0 0 5px 0;
}