* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  background-image: url(https://images.unsplash.com/photo-1578241561880-0a1d5db3cb8a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&q=80);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

h1 {
  margin: 0 0 15px 0;
  text-align: center;
}

.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: lightblue;
  padding: 25px 40px;
  border-radius: 3px;
  box-shadow: rgba(0,0,0,0.1) 0 0 10px;
  width: 400px;
}

input {
  height: 40px;
  padding: 0.5em;
  border-radius: 3px;
  border: 2px solid #dfe1e6;
  background-color: #fafbfc;
}

form, label {
  display: flex;
  flex-direction: column;
}

form {
  gap: 20px;
}

label {
  gap: 5px;
}

.submit, .createbtn, .homebtn {
  border: none;
  color: white;
  padding: 10px 0;
  border-radius: 10px;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
}

.submit {
  background-color: #1877F2;
  margin: 0 0 20px 0;
}

.createbtn, .homebtn {
  width: 100%;
}

.createbtn {
  margin: 0 0 20px 0;
  background-color: #42b72a;
}

.homebtn {
  background-color: #f4f116;
}

.error {
  padding: 15px 15px;
  margin: 0 0 20px 0;
  width: 100%;
  background: rgba(194, 13, 13, 0.5);
  border-radius: 10px;
  color: white;
}

.success {
  padding: 15px 15px;
  margin: 0 0 20px 0;
  width: 100%;
  background: rgba(98, 255, 0, 0.5);
  border-radius: 10px;
  color: white;
}