* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.header {
  text-align: center;
  background-color: #444;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
}

.h1 {
  font-size: 2em;
  color: rgb(113, 191, 236);
  text-align: center;
  padding: 10px;
  margin: 0;
}