.container {
  max-width: 1750px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.image_container {
  width: 325px; /* Set a fixed width for the container */
  height: 500px; /* Set a fixed height for the container */
  margin: 10px; /* Add spacing between containers */
  border: 20px solid white; /* Add white border around the container */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: inline-block; /* Keep containers in the same line */
  overflow: hidden; /* Hide any overflowing content */
}

.image {
  width: 100%; /* Make the image fill the container width */
  height: 100%; /* Make the image fill the container height */
  object-fit: cover; /* Maintain aspect ratio and cover the container */

}

h1 {
  font-size: 35px;
}

p {
  font-size: 16px;
}

.profile_image {
  max-width: 175px;
  border-radius: 50%;
  margin: 20px left;
  display: block;
}

.clickable {
  font-size: 25px;
  text-align: center;
}

.user_stuff {
  background-image: url(https://art-gallery-deployment.vercel.app/static/media/hero_background.059875dc7c2bac39ba6f.jpg);
  background-position: center center;
  margin-left: 0;
  color: #fff;
  text-align: left;
  padding: 110px;
}

.link {
  margin-right: 50px; 
  text-decoration: underline;
}