* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 20px 50px;
  background-color: #444;
  border-radius: 10px;
  color: rgb(106, 166, 201);
  margin: 10px;
}

p {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: rgb(106, 166, 201);
}

a:hover, .p:hover {
  color:   #fff;
}
a:active, .p:active {
  color:rgb(106, 166, 201);
}